
<div class="form-group centralizado">
  <input autofocus type="text" class="form-control pesquisa" [(ngModel)]="input" placeholder="Produto ou Código de barras">

  <button type="button" class="btn btn-primary btn-lg botao" (click)="pesquisa()">Buscar Menor Preço</button>
</div>

<br>

<div *ngIf="produtos != null && produtos.length > 0" class="list-group">
  <div *ngFor="let produto of produtos">
    <a href="#" class="list-group-item list-group-item-action">{{ produto.descricaoProduto }} </a>
  </div>
</div>

<div *ngIf="produtos != null && produtos.length < 1" class="alert alert-info" role="alert">
  Nenhum produto encontrado
</div>