<br><br>


<div>
  <input autofocus 
         type="text"
         [(ngModel)]="input"
         
         class="pesquisa"
  >
<br>
<br>
  <button (click)="pesquisa()">
    Buscar
  </button>
</div>

<br>

<ul class="lista">
  <p *ngIf="produtos != null && produtos.length > 0">
      <li *ngFor="let produto of produtos">
          {{ produto.descricaoProduto  }} R$ {{ produto.preco }}
      </li>
    </p>

  <p *ngIf="produtos != null && produtos.length < 1">
      <li>
          Nenhum produto encontrado
      </li>
    </p>
</ul>